<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: page_head('Categories - Shopme Admin')"/>
<body>
<!--<div class="container-fluid">-->
<!--    Navbar-->
<div th:replace="navigation :: navbar"></div>

<div style="margin-top: 10px">
    <div class="container-fluid">
        <div class="border">
            <!--    Thao tác users-->
            <div>
                <h2 class="text-center" style="margin-top: 10px">Manage Categories</h2>

                <div style="text-align: center; margin-top: 15px">
                    <a th:href="@{/categories/new}" class="fa-solid fa-user-plus fa-2x icon-dark "
                       title="Create New User"></a>
                    &nbsp;&nbsp;
                    <a th:href="@{/categories/export/csv}" class="fa-solid fa-file-csv fa-2x icon-dark"
                       title="Export file CSV"></a>
                </div>
            </div>

            <!--    Lọc tìm category-->
            <div th:replace="fragment :: search_form_and_message('/categories/page/1')"></div>

            <!--    Menu bar-->
            <div class="full-details">
                <table class="table table-striped table-responsive-xl">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Category Image</th>
                        <th th:replace="fragment :: column_link('/categories' ,'name', 'Category Name', 'none')">
                        <th class="hideable-column">Alias</th>
                        <th>Enabled</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${listCategories}">
                        <td>[[${cat.id}]]</td>
                        <td>
                            <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
                        </td>
                        <td>[[${cat.name}]]</td>
                        <td class="hideable-column">[[${cat.alias}]]</td>
                        <td>
                            <div th:replace="fragment :: status(${cat.enabled}, 'category','/categories/' + ${cat.id} )"></div>
                        </td>
                        <td>
                            <div th:replace="fragment :: edit('category', '/categories/edit/' + ${cat.id})"/>
                            &nbsp;
                            <div th:replace="fragment :: delete('category', ${cat.id},  'categories/delete/' + ${cat.id}, ${!cat.hasChildren})"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="less-details">
                <div th:each="cat : ${listCategories}" class="row m-1">
                    <div class="col-4">
                        <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
                    </div>
                    <div class="col-8">
                        <div>[[${cat.name}]]</div>
                        <div class="mt-2">
                            <div th:replace="fragment :: status(${cat.enabled}, 'category','/categories/' + ${cat.id} )"></div>
                            &nbsp;
                            <div th:replace="fragment :: edit('category', '/categories/edit/' + ${cat.id})"/>
                            &nbsp;
                            <div th:replace="fragment :: delete('category', ${cat.id}, 'categories/delete/' + ${cat.id}, ${!cat.hasChildren})"/>
                        </div>
                    </div>

                </div>
            </div>


            <!--    Pagination-->
            <div th:if="${keyword != null}" class="text-center">
                <span>Search result does not show categories in the level form!</span>
                <div th:replace="fragment :: pagination('/categories', 'categories')"></div>
            </div>

            <th:block th:unless="${keyword != null}">
                <div th:replace="fragment :: pagination('/categories', 'top-level categories')"></div>
            </th:block>


            <div th:replace="modal_fragment :: confirm_modal"></div>

            <!--Footer-->
            <div th:replace="fragment :: footer"></div>
        </div>
    </div>
    <script type="text/javascript">
        moduleURL = "[[@{/categories}]]";

        $(document).ready(function() {
            $(".link-delete").on("click", function(e) {
                e.preventDefault();
                showDeleteConfirmModal($(this), 'category');
            });
        });
    </script>

    <!--</div>-->
</body>
</html>